@{
    ViewData["Title"] = "Politique de Confidentialité";
}
<h1>@ViewData["Title"]</h1>


<p>La présente Politique de Confidentialité a pour but d'expliquer la manière dont AnswerSphere recueille, utilise et protège les informations que vous fournissez lorsque vous utilisez notre site web.</p>

<h3>Collecte d'Informations</h3>

<p>Nous recueillons des informations personnelles identifiables, telles que votre nom, votre adresse électronique et d'autres informations que vous choisissez de nous fournir volontairement lorsque vous utilisez notre site.</p>

<h3>Utilisation des Informations</h3>

<p>Les informations que nous recueillons sont utilisées dans le but de personnaliser votre expérience sur notre site, de répondre à vos demandes et de vous fournir des informations pertinentes sur nos produits ou services.</p>

<h3>Protection des Informations</h3>

<p>Nous mettons en œuvre des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé ou toute divulgation. Cependant, aucune méthode de transmission sur Internet ni aucune méthode de stockage électronique n'est totalement sécurisée. Nous ne pouvons donc pas garantir une sécurité absolue.</p>

<h3>Partage d'Informations</h3>

<p>Nous ne vendons, n'échangeons ni ne transférons vos informations personnelles à des tiers sans votre consentement, sauf dans les cas où cela est nécessaire pour répondre à une demande que vous avez expressément faite.</p>

<h3>Cookies</h3>

<p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. Vous pouvez configurer votre navigateur pour qu'il vous avertisse avant que les cookies ne soient placés, ou vous pouvez les désactiver complètement. Notez cependant que certaines fonctionnalités de notre site peuvent ne pas fonctionner correctement sans l'utilisation de cookies.</p>

<h3>Consentement</h3>

<p>En utilisant notre site, vous consentez à notre Politique de Confidentialité.</p>

<h3>Modifications de la Politique de Confidentialité</h3>

<p>Nous nous réservons le droit de mettre à jour ou de modifier notre Politique de Confidentialité à tout moment. Les changements seront publiés sur cette page.

Pour toute question concernant notre Politique de Confidentialité, veuillez nous contacter à abdel30384@gmail.com

Dernière mise à jour : 12/11/2023</p>

<br>
<br>



