@model AnswerSphere.Models.Question

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionLibelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionLibelle)
        </dd>
    </dl>
    <div>
    <h4>Options</h4>
    <hr />
    <div class="col-sm-10">
        @foreach (var (option, index) in Model.Options.Select((opt, i) => (opt, i + 1)))
        {
            <p>@($"{index}. {option.OptionLibelle}")</p>
        }
    </div>
</div>


<div style="text-align: center;">
    <svg></svg>
    <style>
        svg {
            width: 250px;
            height: 250px;
            display: inline-block;
        }
    </style>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
        const color = d3.scaleOrdinal(['#66c2a5', '#fc8d62', '#8da0cb', '#e78ac3', '#a6d854', '#ffd92f']);
        const data = [20, 3, 5, 8, 13, 21];
        const labels = ['Opt 1', 'Op 2', 'Opt 3', 'Opt 4', 'Opt 5', 'Opt 6'];
        const radius = 125;
        const g = d3.select('svg')
            .append('g')
            .attr('transform', `translate(${radius}, ${radius})`);

        const arc = d3.arc()
            .innerRadius(0)
            .outerRadius(radius);

        const arcs = d3.pie()(data);

        g.selectAll('path')
            .data(arcs)
            .enter()
            .append('path')
            .attr('d', arc)
            .style('fill', (d, i) => color(i))
            .style('stroke', 'white')
            .style('stroke-width', 3);

        g.selectAll('text')
            .data(arcs)
            .enter()
            .append('text')
            .attr('transform', d => `translate(${arc.centroid(d)})`)
            .attr('dy', '0.35em')
            .style('text-anchor', 'middle')
            .style('fill', 'white')
            .text((d, i) => labels[i]);
    </script>
</div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
