@model AnswerSphere.Models.Question

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="questionId" asp-for="QuestionId" />
            <div class="form-group">
                <label asp-for="QuestionLibelle" class="control-label"></label>
                <input asp-for="QuestionLibelle" id="questionLibelle" class="form-control" />
                <span asp-validation-for="QuestionLibelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="editbt" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/EditQuestion.js"></script>
}
